.home-container,
.profile-container {
  padding: 30px;
}

.login-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 3.5rem);
}

.items-container,
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
}

.item-card {
  margin: 30px auto;
  width: 280px;
}